<% include ../layout/head %>

<% if(detail.length) { %>
    <div class="mb-3 card">
        <div class="card-header">
            <h4 class="card-title">
                <a href="<%=activePage%>" class="btn btn-sm btn-outline-primary rounded-circle"><i class="mif-arrow-left"></i></a>
                <span class="d-inline-block align-middle">
                    <%=title%>
                </span>
            </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 text-muted">
                    <h4 class="text-primary"><%=detail[0].judul_aspirasi%></h4>
                    <span class="mr-2 d-inline-block">
                        <i class="mif-user"></i>
                        <%=detail[0].nama_lengkap%>
                        (<%=detail[0].nik%>)
                    </span>
                    <span class="d-inline-block">
                        <i class="mif-calendar"></i>
                        <%=detail[0].tanggal %>
                    </span>
                </div>
                <div class="col-12">
                    <p>
                        <%-detail[0].isi_aspirasi.replace(/(?:\r\n|\r|\n)/g,'<br>')%>
                    </p>
                </div>
            </div>
        </div>
    </div>
<% } %>
    
<% include ../layout/foot %>