<% include ../layout/head %>

<div class="mb-3 card">
    <div class="card-header">
        <h4 class="card-title"><%=title%></h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="btn-fixed ml-md-4 mt-md-3">
                    <a href="/pengajuan-layanan/buat" class="btn btn-primary">
                        <i class="mif-user-plus small"></i>
                        <span class="d-none d-md-inline">
                            Buat
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <% if (locals.simpan) { %>
        <div class="alert alert-success">
            <i class="mif-checkmark"></i>
            <%=simpan%>
        </div>
        <% } %>
        <div class="row font-weight-bold m-0 py-2 py-md-0 d-none d-md-flex">
            <div class="py-0 px-0 col-md-3">Layanan</div>
            <div class="py-0 px-0 col-md-4">Keterangan</div>
            <div class="py-0 px-0 col-md-1">Status</div>
            <div class="py-0 px-0 col-md-4">Pesan RT</div>
        </div>
        <% for (var key in list) { %>
        <div class="ta-list-table">
            <div class="row m-0 py-2 py-md-0">
                <div class="py-0 py-md-2 px-0 col-12 col-md-3">
                    <span class="d-none d-md-inline">
                        <%=list[key].nama_jenis_layanan%>
                    </span>
                    <span class="d-md-none font-weight-bold">
                        <%=list[key].nama_jenis_layanan%>
                    </span>
                    <small class="badge d-md-none badge-<%=list[key].status == 'Pending' ? 'warning' : list[key].status == 'Tolak' ? 'danger' : 'success' %>">
                        <%=list[key].status%>
                    </small>
                </div>
                <div class="py-0 py-md-2 px-0 col-12 col-md-4">
                    <span class="d-md-none">Keterangan : </span>
                    <%=list[key].keterangan%>    
                </div>
                <div class="py-0 d-none d-md-inline-block py-md-2 px-0 col-12 col-md-1">
                    <small class="badge badge-<%=list[key].status == 'Pending' ? 'warning' : list[key].status == 'Tolak' ? 'danger' : 'success' %>">
                        <%=list[key].status%>
                    </small>                    
                </div>
                <div class="py-0 py-md-2  px-0 col-12 col-md-4">
                    <span class="d-md-none">Pesan RT : </span>
                    <%=list[key].pesan_rt ? list[key].pesan_rt : '-'%>
                </div>
            </div>
        </div>
    <% } %>
    </div>
</div>

<% include ../layout/foot %>