<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=locals.title?locals.title:'E-warga'%></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/metro-icons.min.css">
    <link rel="stylesheet" href="/css/costum/exr.css">
</head>
<body>
<div id="wrapper">
  <nav class="navbar navbar-expand-md navbar-light ta-navbar pl-2 pr-3 px-md-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto ml-md-0" href="/">
        <img src="/logo.png" alt="E-Warga"/>
    </a>
    
    <div class="dropdown">
      <a class="rounded-circle shadow-none dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
        <i class="mif-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/ubah-username"><i class="mif-brightness-auto"></i> Ubah Username</a>
        <a class="dropdown-item" href="/ubah-password"><i class="mif-security"></i> Ubah Password</a>
        <a class="dropdown-item" href="/logout"><i class="mif-exit"></i> Keluar</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row h-100">
        <aside class="collapse ta-sidebar p-0 py-2 pr-md-2 col-md-3 col-xl-2" id="navbarToggler">
        <div class="ta-links">
            <ul class="nav ta-sidenav">
            <% for(var i in menu) {
                if(Array.isArray(menu[i].url)) {%>
                <li class="<%=(menu[i].open)?'active ':''%>ta-dropdown">
                    <a href="">
                        <i class="<%=menu[i].icon%>"></i>
                        <%=menu[i].text%>
                    </a>
                    <ul>
                    <% for(var j in menu[i].url) { %>
                        <li<%-(menu[i].url[j].active?' class=active':'')%>>
                            <a href="<%=menu[i].url[j].url%>">
                                <i class="<%=menu[i].url[j].icon?menu[i].url[j].icon:'mif-folder'%>"></i>
                                <%=menu[i].url[j].text%>
                            </a>
                        </li>
                    <% } %>
                    </ul>
                </li>
                <% } else { %>
                    <li<%-(menu[i].open?' class="active"':'')%>><a href="<%=menu[i].url%>"><i class="<%=menu[i].icon%>"></i> <%=menu[i].text%></a></li>
                <% }
            } %>
            </ul>
        </div>
        </aside>
      <div class="col-md-9 col-xl-10">
        <div class="row">
          <div class="col-12">
            <main id="main" class="py-3">