<% include ../layout/head %>

<div class="mb-3 card">
    <div class="card-header">
        <h4 class="card-title"><%=title%></h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="btn-fixed ml-md-4 mt-md-3">
                    <a href="/inventaris/tambah" class="btn btn-primary">
                        <i class="mif-user-plus small"></i>
                        <span class="d-none d-md-inline">
                            Tambah
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <% if (locals.simpan) { %>
        <div class="alert alert-success">
            <i class="mif-checkmark"></i>
            <%=simpan%>
        </div>
        <% } %>
        <div class="row font-weight-bold m-0 py-2 py-md-0 d-none d-md-flex">
            <div class="py-0 px-0 col-md-6">Nama Barang</div>
            <div class="py-0 px-0 col-md-1">Jumlah</div>
            <div class="py-0 px-0 col-md-1">Kondisi</div>
            <div class="py-0 px-0 col-md-4">Keterangan</div>
        </div>
        <% for (var key in list) { %>
        <div class="ta-list-table">
            <div class="row m-0 py-2 py-md-0">
                <div class="py-0 py-md-2 px-0 col-12 col-md-6">
                    <span class="d-none d-md-inline">
                        <%=list[key].nama_barang%>
                    </span>
                    <span class="d-md-none font-weight-bold">
                        <%=list[key].nama_barang%>
                    </span>
                    <span class="float-right d-none d-md-inline mr-2">
                        <a class="btn btn-sm btn-outline-primary float-right shadow-none d-none-xs icon-action px-1" href="/inventaris/edit/<%=list[key].id%>"><i class="mif-pencil"></i></a>
                    </span>
                    
                    <div class="dropdown float-right d-inline-block d-md-none">
                        <a class="shadow-none dropdown-toggle text-dark caret-off" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="mif-more-vert mif-lg"></i>
                        </a>
                        <div class="dropdown-menu ta-dropdown-menu dropdown-menu-right">
                            <a href="/inventaris/edit/<%=list[key].id%>" class="dropdown-item small"><i class="mif-pencil"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <div class="py-0 py-md-2 px-0 col-12 col-md-1">
                    <span class="d-md-none">Jumlah : </span>
                    <%=list[key].jumlah%>
                </div>
                <div class="py-0 py-md-2 px-0 col-12 col-md-1">
                    <span class="d-md-none">Kondisi : </span>
                    <%=list[key].kondisi%>
                </div>
                <div class="py-0 py-md-2  px-0 col-12 col-md-4">
                    <span class="d-md-none">Keterangan : </span>
                    <%=list[key].keterangan%>
                </div>
            </div>
        </div>
    <% } %>
    </div>
</div>

<% include ../layout/foot %>