<% include ../layout/head %>
<div class="mb-3 card">
    <div class="card-header">
        <h4 class="card-title">
            <a href="/pendataan-keluarga" class="btn btn-sm btn-outline-primary rounded-circle"><i class="mif-arrow-left"></i></a>
            <span class="d-inline-block align-middle">
                <%=title%>
            </span>
        </h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 mt-0">
                <div class="media mb-md-3">
                    <div class="media-body mb-0 mt-sm-1">
                        <p class="text-capitalize d-none d-sm-block float-right">Status Tinggal : <%=detail_kk.status_tinggal%></p>
                        <h5 class="mb-0 ta-list-title">
                            No. KK : <%=detail_kk.nomor_kk%>
                        </h5>
                        <p class="text-capitalize mb-0">Alamat : <%=detail_kk.alamat%></p>
                        <p class="text-capitalize d-block d-sm-none">Status Tinggal : <%=detail_kk.status_tinggal%></p>
                    </div>
                </div>
                <% if (locals.simpan) { %>
                    <div class="alert alert-success">
                        <%=simpan%>
                    </div>
                <% } %>
                <% if (detail_kk.status_kk==0 || detail_kk.status_kk==2) { %>
                    <div class="alert alert-danger mt-2">
                        Jika keluarga sudah sama dengan KK silikan tekan tombol <span class="mif-user-check d-inline-block d-md-none"></span> <span class="d-none d-md-inline">Simpan</span>
                    </div>
                <% } %>
                <div class="btn-fixed mx-md-3 mt-md-4">                    
                    <% if (detail_kk.status_kk!=1) { %>
                        <a href="/pendataan-keluarga/simpan-keluarga/<%=detail_kk.id_keluarga%>" class="btn btn-sm-xs btn-light mr-md-1 mb-md-0 mb-3">
                            <i class="mif-user-check"></i>
                            <span class="d-none d-md-inline-block">Simpan</span>
                        </a>
                        <a href="/pendataan-keluarga/tambah-anggota/<%=detail_kk.id_keluarga%>" class="btn btn-primary float-left mx-md-1 mb-0">
                            <i class="mif-user-plus"></i>
                            <span class="d-none d-md-inline-block">Tambah Anggota</span>
                        </a>
                    <% } %>
                    <% if(detail_kk.status_kk == 1) { %>
                        <a href="/pendataan-keluarga/perbaharui-kk/<%=detail_kk.id_keluarga%>" class="btn btn-primary float-left mx-md-1 mb-0">
                            <i class="mif-loop"></i>
                            <span class="d-none d-md-inline-block">Perbaharui</span>
                        </a>
                    <% } %>
                </div>
                <div class="clearfix"></div>
                
            </div>
        </div>
        <% if (detail_kk.nama_lengkap!=null) { %>
            <div class="row font-weight-bold m-0 py-2 py-md-0 d-none d-md-flex">
                <div class="py-0 py-md-2 pl-0 pr-md-2 pr-0 col-md-4 col-lg-3 order-2 order-md-1">NIK</div>
                <div class="py-0 py-md-2 pl-0 pr-md-2 pr-0 col-md-5 col-lg-3 order-1 order-md-2">Nama Lengkap</div>
                <div class="py-0 py-md-2 pl-0 pr-md-2 pr-0 col-md-3 col-lg-3 col-xl-2 col-lg-2 order-3">Status Keluarga</div>
                <div class="py-0 py-md-2 pl-0 pr-md-2 pr-0 col-xl-2 col-lg-3 order-4 d-none d-lg-flex">Tanggal Lahir</div>
                <div class="py-0 py-md-2 pl-0 pr-md-2 pr-0 col-xl-2 order-5 d-none d-xl-flex">Jenis Kelamin</div>
            </div>
            <% for(var i in data) { %>
            <div class="ta-list-table">
                <div class="row m-0 py-2 py-md-0">
                <div class="py-0 py-md-2 pl-0 pr-2 col-md-4 col-lg-3 order-2 order-md-1"><span class="d-md-none">NIK</span> <%=data[i].nik%></div>
                <div class="py-0 py-md-2 pl-0 pr-2 col-md-5 col-lg-3 order-1 order-md-2  font-weight-xs-bold">
                    <span class="d-none d-md-inline">
                    <% if(data[i].status_kk == 0) { %>
                    <a href="/pendataan-keluarga/ubah-anggota/<%=parseInt(data[i].id_keluarga)%>/<%=parseInt(data[i].id_user)%>" class="btn btn-sm btn-outline-default float-right shadow-none icon-action"><i class="mif-pencil"></i></a>
                    <% if(data.length > 1) { %>             
                    <a class="btn btn-sm btn-outline-default float-right shadow-none d-none-xs icon-action" data-toggle="modal" href="#remove_confirm" data-link="/pendataan-keluarga/hapus-anggota/<%=parseInt(data[i].id_keluarga)%>/<%=parseInt(data[i].id_user)%>"><i class="mif-bin"></i></a>
                    <% } %>
                    <% } %>

                    <% if(data[i].status_kk == 2) { %>
                        <a href="/pendataan-keluarga/ubah-anggota/<%=parseInt(data[i].id_keluarga)%>/<%=parseInt(data[i].id_user)%>" class="btn btn-sm btn-outline-default float-right shadow-none icon-action"><i class="mif-pencil"></i></a>
                    <% } %>

                    
                    <% if(data[i].status_kk != 0 && data[i].level_user == '3') { %>
                        <a class="btn btn-sm btn-outline-default float-right shadow-none d-none-xs icon-action" data-toggle="modal" href="#nonaktif_confirm" data-link="/pendataan-keluarga/nonaktif-anggota/<%=parseInt(data[i].id_keluarga)%>/<%=parseInt(data[i].id_user)%>"><i class="mif-switch"></i></a>
                    <% } %>

                    </span>
                    <div class="dropdown float-right d-inline-block d-md-none">
                        <a class="shadow-none dropdown-toggle text-dark caret-off" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="mif-more-vert mif-lg"></i>
                        </a>
                        <div class="dropdown-menu ta-dropdown-menu dropdown-menu-right">
                            <% if(data[i].status_kk == 0) { %>
                            <a href="/pendataan-keluarga/ubah-anggota/<%=parseInt(data[i].id_keluarga)%>/<%=parseInt(data[i].id_user)%>" class="dropdown-item small"><i class="mif-pencil"></i> Ubah</a>
                            <% if(data.length > 1) { %>                      
                            <a class="dropdown-item small" data-toggle="modal" href="#remove_confirm" data-link="/pendataan-keluarga/hapus-anggota/<%=parseInt(data[i].id_keluarga)%>/<%=parseInt(data[i].id_user)%>"><i class="mif-bin"></i> Hapus</a>
                            <% } %>
                            <% } %>
        
                            <% if(data[i].status_kk == 2) { %>
                                <a href="/pendataan-keluarga/ubah-anggota/<%=parseInt(data[i].id_keluarga)%>/<%=parseInt(data[i].id_user)%>" class="dropdown-item small"><i class="mif-pencil"></i> Ubah</a>
                            <% } %>
                            
                            <% if(data[i].status_kk != 0 && data[i].level_user == '3') { %>
                                <a class="dropdown-item small" data-toggle="modal" href="#nonaktif_confirm" data-link="/pendataan-keluarga/nonaktif-anggota/<%=parseInt(data[i].id_keluarga)%>/<%=parseInt(data[i].id_user)%>"><i class="mif-switch"></i> Nonaktifkan</a>
                            <% } %>
                        </div>
                    </div>
                    <a href="#show<%=parseInt(data[i].id_user)%>" data-toggle="show-detail" class="btn btn-sm btn-outline-default float-right shadow-none d-none-xs icon-action"><i class="mif-expand-more mif-lg"></i></a>
    
                    <%=data[i].nama_lengkap%>
                </div>
                <div class="py-0 py-md-2 pl-0 pr-2 col-md-3 col-lg-3 col-xl-2 col-lg-2 order-3 text-capitalize"><%=data[i].status_keluarga.replace(/\_/,' ')%></div>
                <div class="py-0 py-md-2 pl-0 pr-2 col-xl-2 col-lg-3 order-4 d-none d-lg-flex">
                    <%=data[i].tanggal_lahir%>
                </div>
                <div class="py-0 py-md-2 pl-0 pr-2 col-xl-2 order-5 d-none d-xl-flex"><%=data[i].jenis_kelamin=='L'?'Laki-laki':'Perempuan'%></div>
                </div>
                <div class="mx-2 mt-2 alert alert-info" style="display: none;" id="show<%=parseInt(data[i].id_user)%>">
                    <% var agama = ['Islam','Kristen','Katholik','Hindu','Buddha','Kong Hu Cu'] %>
                    <% var pendidikan = ['Tidak / Belum Sekolah','Belum Tamat SD / Sederajat','Tamat SD / Sederajat','SLTP / Sederajat', 'SLTA / Sederajat', 'Diploma I / II', 'Akademi / Diploma III / Sarjana Muda','Diploma IV / Strata I', 'Strata II', 'Strata III'] %>
                    <% var status_perkawinan = ['Belum Kawin','Kawin','Cerai Hidup','Cerai Mati'] %>
                    <table>
                        <tr>
                            <td>Jenis Kelamin</td>
                            <td>:</td>
                            <td>
                                <%=data[i].jenis_kelamin=='L'?'Laki-Laki':'Perempuan'%>
                            </td>
                        </tr>
                        <tr>
                            <td>Tempat/Tanggal Lahir</td>
                            <td>:</td>
                            <td>
                                <%=data[i].tempat_lahir%> / 
                                <%=data[i].tanggal_lahir.split('/').join('-')%>
                            </td>
                        </tr>
                        <tr>
                            <td>Agama</td>
                            <td>:</td>
                            <td>
                                <%=agama[parseInt(data[i].agama)-1]%>
                            </td>
                        </tr>
                        <tr>
                            <td>Pendidikan Terakhir</td>
                            <td>:</td>
                            <td>
                                <%=pendidikan[parseInt(data[i].pendidikan)-1]%>
                            </td>
                        </tr>
                        <tr>
                            <td>Status Perkawinan</td>
                            <td>:</td>
                            <td>
                                <%=status_perkawinan[parseInt(data[i].status_perkawinan)-1]%>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <% } %>
        <% } else { %>
            <div class="alert alert-danger">Belum ada anggota keluarga</div>
        <% } %>
    </div>
</div>
<div class="modal" id="remove_confirm">
    <div class="modal-dialog show modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                Apakah ingin menghapus data ini?
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-link btn-sm shadow-none" data-dismiss="modal">Cancel</a>
                <a href="" class="btn remove-link btn-link btn-sm shadow-none">Hapus</a>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="nonaktif_confirm">
    <div class="modal-dialog show modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                Apakah ingin menonaktifkan data ini?
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-link btn-sm shadow-none" data-dismiss="modal">Batal</a>
                <a href="" class="btn remove-link btn-link btn-sm shadow-none">Nonaktifkan</a>
            </div>
        </div>
    </div>
</div>
<% include ../layout/foot %>