<% include ../layout/head %>
<div class="mb-3 card">
    <div class="card-header">
        <h4 class="card-title">
            <a href="/pendataan-keluarga/anggota-keluarga/<%=params.id%>" class="btn btn-sm btn-outline-primary rounded-circle"><i class="mif-arrow-left"></i></a>
            <span class="d-inline-block align-middle">
                <%=title%>
            </span>
        </h4>
    </div>
    <div class="card-body">
        <form action="" method="post" autocomplete="off">
            <% if (locals.success) { %>
                <div class="alert alert-success"><button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>Data warga berhasil ditambahkan</div>
            <% } %>
            <div class="form-row">
                <div class="col-sm-6 mb-3">
                    <label class="small text-secondary m-0">Nomor Kartu Keluarga</label>
                    <input type="text" class="shadow-none form-control<%=locals.field_error.nomor_kk?' is-invalid':null%>" maxlength="16" placeholder="Nomor Kartu Keluarga" name="nomor_kk" value="<%=locals.input.nomor_kk%>" required minlength="16"/>
                    <% if (locals.field_error.nomor_kk) { %>
                        <small class="text-danger"><%=locals.field_error.nomor_kk.msg%></small>
                    <% } %>
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="small text-secondary m-0">Status Tinggal</label>
                    <select name="status_tinggal" class="form-control shadow-none<%=locals.field_error.status_tinggal?' is-invalid':null%>">
                        <option value="" disabled selected>- Pilih -</option>
                        <option value="tetap"<%=locals.input.status_tinggal == 'tetap' ? ' selected' : null%> >Tetap</option>
                        <% if (input.status_tinggal == 'sementara') { %>
                        <option value="sementara"<%=locals.input.status_tinggal == 'sementara' ? ' selected' : null%>>Sementara</option>
                        <% } %>
                    </select>
                    <% if (locals.field_error.status_tinggal) { %>
                        <small class="text-danger"><%=locals.field_error.status_tinggal.msg%></small>
                    <% } %>
                </div>
            </div>
            
            <div class="form-row">
                <div class="col-sm-6 mb-3">
                    <label class="small text-secondary m-0">Status Kepemilikan</label>
                    <select name="status_kepemilikan" class="form-control shadow-none<%=locals.field_error.status_kepemilikan?' is-invalid':null%>">
                        <option value="" disabled selected>- Pilih -</option>
                        <option value="pemilik"<%=locals.input.status_kepemilikan == 'pemilik' ? 'selected' : null%>>Pemilik</option>
                        <option value="kontrak"<%=locals.input.status_kepemilikan == 'kontrak' ? 'selected' : null%>>Kontrak</option>
                        <option value="keluarga"<%=locals.input.status_kepemilikan == 'numpang' ? 'selected' : null%>>Numpang</option>
                    </select>
                    <% if (locals.field_error.status_kepemilikan) { %>
                        <small class="text-danger"><%=locals.field_error.status_kepemilikan.msg%></small>
                    <% } %>
                </div>
                <div class="col-sm-6 mb-3">
                    <% var bulan = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','Novembar','Desember'] %>
                    <% var bulan_sekarang = new Date().getMonth() %>
                    <label class="small text-secondary m-0">Tanggal Menempati</label>
                    <div class="form-row">
                        <div class="col-6">
                            <select name="bulan_menempati" class="form-control shadow-none<%=(locals.field_error.bulan_menempati)?' is-invalid':null%>">
                            <option value="" disabled>- Pilih -</option>
                            <% for (var i = 0; i < 12; i++) { %>
                                <% if (input.bulan_menempati) { %>
                                    <% if (input.bulan_menempati == (i+1)) { %>
                                        <option value="<%=(i+1)%>" selected><%=bulan[i]%></option>
                                    <% } else { %>
                                        <option value="<%=(i+1)%>"><%=bulan[i]%></option>
                                    <% } %>
                                <% } else { %>
                                    <% if (bulan_sekarang == i) { %>
                                        <option value="<%=(i+1)%>" selected><%=bulan[i]%></option>
                                    <% } else { %>
                                        <option value="<%=(i+1)%>"><%=bulan[i]%></option>
                                    <% } %>
                                <% } %>
                            <% } %>
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="number" name="tahun_menempati" class="form-control shadow-none<%=(locals.field_error.tahun_menempati)?' is-invalid':null%>" placeholder="Tahun" min="<%=parseInt(new Date().getFullYear()-90)%>" max="<%=parseInt(new Date().getFullYear())%>" value="<%=locals.input.tahun_menempati?input.tahun_menempati:parseInt(new Date().getFullYear())%>">
                        </div>
                    </div>
                    <% if (locals.field_error.tahun_menempati || locals.field_error.bulan_menempati) { %>
                        <small class="text-danger"><%=locals.field_error.bulan_menempati?locals.field_error.bulan_menempati.msg:(locals.field_error.tahun_menempati?locals.field_error.tahun_menempati.msg:null)%></small>
                    <% } %>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    <label class="small text-secondary m-0">Alamat Lengkap</label>
                    <textarea class="shadow-none form-control<%=locals.field_error.alamat?' is-invalid':null%>" maxlength="75" placeholder="Alamat Lengkap" name="alamat" required minlength="2"><%=locals.input.alamat%></textarea>
                    <% if (locals.field_error.alamat) { %>
                        <small class="text-danger"><%=locals.field_error.alamat.msg%></small>
                    <% } %>
                </div>
            </div>
            
            <div class="form-row mb-3 align-middle">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">
                        <i class="mif-paper-plane"></i>
                        <span>
                            Simpan
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../layout/foot %>